
body {
	text-align: center;
	margin: 0;
}
h1, h2, h3 {
	text-transform: uppercase;
}
h1 {
	font-family: Raleway;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}
h2 {
	font-family: Raleway;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
}
h3 {
	font-family: Raleway;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}
p {
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px;
}
header {
	background-color: #F15B31;
	font-color: #FFFFFF;
	padding: 30px 20px;
}
nav {
	background-color: #00A6B3;
	font-color: #000000;
	padding: 20px 0;
}
a {
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}
a:hover {
	font-style: bold;
	border-color: #FFFFFF;
}
main {
	width: 850px;
	margin: 35px auto;
}
img {
	margin: 40px 8px;
}
footer {
	text-transform: uppercase;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright {
	font-family: Raleway;
	float: left;
}
.message {
	font-family: Raleway;
	float: right;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
.name {
	color: #F15B31;
	font-weight: 700;
}
